extends layout
block content
    .page.grid
        .ui.page.grid
            .ui.page.grid
                .ui.grid 
                        .five.wide.column
                            .ui.vertical.pointing.menu
                                a.blue.small.header.item(href="/admin/post") 信息
                                a.green.small.header.item(href="/admin/user") 用户
block footer
