extends layout
block header
    title 桃李街 | 高效的信息发布平台
    link(rel="stylesheet", href="/css/index.css")
block content
    .page.grid
        .ui.page.grid
            .ui.page.grid
                .ui.grid 
                        .five.wide.column
                            .ui.vertical.pointing.menu
                                a.blue.small.header.item(href="/admin/post") 信息
                                a.green.small.header.item(href="/admin/user") 用户
                                a.yellow.small.header.item(href="/admin/category") 分类
block footer
