extends layout
block content
    .page.grid
        .ui.page.grid
            .ui.page.grid
                .ui.grid 
                    .one.column.row
                        .column
                            .menu
                                a.blue.small.header.item(href="#post") 信息
                                a.green.small.header.item(href="#user") 用户
                    .two.column.row 
                        .column
block footer
