doctype html
html
    head
        block header
        link(rel="stylesheet", href="css/base.css")
        link(rel="stylesheet", href="css/semantic.css")
    body
        block content
        script(src="js/jquery-1.11.1.js")
        != js("demo")
