doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/semantic.css")
        link(rel="stylesheet", href="css/base.css")
        block header
    body
        .page.grid
          .ui.page.grid
            .ui.page.grid
              nav#topnav.ui.text.menu.navbar
                .left.menu
                  a.item(href='/')
                    h3.ui.large.header 桃李街
                .right.menu(ms-controller="user")
                  a.item(href='/') 首页
                  a.item(ms-if="!user.username" href='/login') 登录
                  a.item(ms-if="!user.username" href='/register') 注册
                  a.item(ms-if="user.username",ms-href="/user/{{user.username}}") {{user.username}}
              .ui.divider
        block content
        script(src="js/jquery-1.11.1.js")
        script(src="js/semantic.js")
        script(src="js/avalon.js")
        block footer
        script.
            user = !{JSON.stringify(user)}
        != js("base")
