extends layout
block header
    title 登录
    link(rel="stylesheet" href="css/login.css")
block content
    form.ui.form(action="/login" method="post")
        h3 登录 
        .ui.input
            input#username(name="username", type='text', placeholder='邮箱')
        .ui.input
            input#password(name="password", type='password', placeholder='密码')
        input#login(type="submit" value="登录")
