extends layout
block header
    title 全部信息
    link(rel="stylesheet", href="css/postAdmin.css")
block content
    .page.grid
        .ui.page.grid
            .ui.page.grid
                .ui.grid
                  .one.column.row(ms-controller="posts")
                    .column
                        .ui.segment.post(ms-repeat="posts")
                            div(ms-if="!el.edit")
                                .ui.medium.header {{el.title}}
                                div {{el.content}}
                                    p {{el.date | date('yyyy-MM-dd HH:mm:ss')}}
                                    a(href="javascript:void(0)",ms-click="edit(el)") 编辑
                                    a(href="javascript:void(0)",ms-click="remove($remove,el)") 删除
                            div(ms-if="el.edit")
                                input.title(ms-duplex="el.title")
                                br
                                textarea.content(ms-duplex="el.content")
                                a.button(href="javascript:void(0)" ms-click="submit(el)") 保存
                  .one.column.row
                    .column
                        #page
                  .row
                    .column
                      .ui.divider
                      span © Taolijie 2014
block footer
    script.
        posts = !{JSON.stringify(posts)}
        pagination = !{JSON.stringify(pagination)}
        count = pagination.count
        page = pagination.page
        pages = pagination.pages
        for(i=1;i<=pages;i++){
            page_html = '<a href="?page='+i+'">第' + i + '页</a>'
            $('#page').append(page_html)
        }
    != js("postAdmin")
