body,div,ul,li,h3{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', 'sans-serif','微软雅黑';
    background: #f8f7e5 url(/img/bg.jpg) no-repeat center top;
    width: 100%;
    display: table;
}
ul li{
    list-style:none;
}
a:link,a:visited,a:hover,a:active{
    text-decoration:none; 
}
.m-b-reset{
    margin-bottom: 0px !important;
}
.padding-reset{
    padding: 0px !important;
}
.ui .message{
    padding-top: 30px !important;
    padding-bottom:  50px !important;
}
.m-top-10{
    margin-top: 10px !important;
}
.hidden{
    opacity: 0;
}
.ui .button{
    text-transform: capitalize;
}
/*custom*/
.menu .ui.large.header{
    line-height: 10px;
}
.ui.menu:not(.vertical) .item > .button{
    margin-right: 10px;
}
.row .column{
    margin-bottom: 15px;
}
img{border: none}